.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 100;
}

.Na {
    color: orange;
    font-size: 20px; 
    font-family: Arial;
    font-weight: bold;
}


.N2 {
    display: flex;
    align-items: center;
    gap: 25px;
}


.NavI a {
    position: relative;       
    font-family: Arial;
    color: gray;
    font-size: 15px;         
    padding: 10px 0;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}


.NavI a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease;
}

.NavI a:hover {
    color: orange;
}

.NavI a:hover::after {
    width: 100%;              
}
