.HP {
    display: flex;
    justify-content: space-between;
    align-items: center;      
    padding: 50px;
    background-color: black;
    flex-wrap: wrap;              
    min-height: 80vh;         
    gap: 20px;                 
}

.P1 {
    flex: 1;
    max-width: 50%;
}

.P1 h1 {
    font-weight: 400;
    color: aliceblue;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;         }

.Q {
    color: black;
    font-weight: 200;
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 2px;
}
.Q2{
    color: black;
    font-weight: 200;
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    font-size: 1rem;
}

.P2 {
    flex: 1;
    max-width: 50%;
}
.P2 img {
    width: 100%;
    max-height: 550px;      
    object-fit: cover;      
    border-radius: 15px;     
}
.Q2 img{
    border-radius: 15px;
    height: 20px;
    width :20px;
    object-fit:cover;
}
.ab{ color:white;
}